.container{
    display: flex;
    flex-wrap: wrap;
}

.taskLink{
    text-decoration: none;
    font-size: 2rem;
}
.task-btn{
    width: 20rem;
    height: 10rem;
    cursor: pointer;
    margin: 30px;
}