.microData{
    display: none;
}
.sections{
    display: grid;
    place-items: center;

}
button{
    width:10rem;
    height: 8rem;
    border: none;
    border-radius: 15px;
    background-color: #a4d1f8;
    cursor: pointer;
    margin: 15px;
}
button:hover{
    transform: scale(1.1);
}
section{
    margin-top: 10px;
    width: 40%;
    
}
section::after{
    content: '';
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 5px;
    background-color: black;
}
input:invalid{
    border-color:rgb(255, 0, 0);
    width: 80%;
    height: 1.8rem;
    border-radius:10px;
  padding: 5px;
}
input:valid + p{
    visibility: hidden;
}
input:invalid + p{
    visibility: visible
}
input[type=text]:valid,input[type=email]:valid{
    width: 80%;
    height: 1.8rem;
    border-color:rgba(62, 28, 28, 0.6) ;
    border-radius:10px;
    padding: 5px;
}
input[type=submit]
{
    cursor: pointer;
    width: 80%;
    height: 1.8rem;
    background-color: #a4d1f8;
    border: none;
    border-radius: 10px;

}