
.container{
    display: flex;
    justify-content: space-around;
}
section{
    border: 2px solid #222;
    padding: 20px;
}
#fadeImg {
    opacity: 1;
    transition: opacity 5s ease-in-out;

}
#fadeImg:hover {
    opacity:0;
    transition: opacity 3s ease-in-out;

}
section form input{
    display: block;
    margin-top: 15px;
}
input:invalid{
    border-color:rgb(255, 0, 0);
}
input:valid + p{
    visibility: hidden;
}
input:invalid + p{
    visibility: visible
}
.hoverDiv{
    border: 1px solid #212121;
    padding: 15px;
    cursor: pointer;
    background-color: #ffc400;
    border-radius: 5px;
}
.hoverDiv:hover{
    animation-name: hoverDiv;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-delay: 0.5s;
animation-iteration-count: infinite;
}
@keyframes hoverDiv{
    0%{
        background-color: #cd5413;
        box-shadow: 1px 1px 1px   #cd5413 ;
    }
    25%{
        background-color: #38cd13;
        box-shadow: 2px 2px 2px  #38cd13 ;
    }
    50%{
        background-color: #35448b;
        box-shadow: 3px 3px 3px #35448b;
    }
    75%{
        background-color: #a5117b;
        box-shadow: 4px 4px 4px  #a5117b;
    }
    100%{
        background-color: #cf5757;
        box-shadow: 4px 4px 4px #cf5757;
    }
}